button {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    
    outline: none;
    border: none;
}

.button {
    border: 1px solid var(--color);
    
    background-color: transparent;
    color: var(--color);

    &--small{
        padding: 14px 46px;
    }
    
    &--large {
        padding: 20px 40px;
    }

    &:hover {
        background-color: var(--selected-color);
        border-color: var(--selected-color);
    }    
}
