@import "./mixins.scss";
@import "./variables.scss";
@import "./root-styles.scss";
@import "./ui/buttons.scss";
@import "./sections/header.scss";
@import "./sections/base.scss";
@import "./sections/welcome.scss";
@import "./sections/features.scss";
@import "./sections/contents.scss";
@import "./sections/gallery.scss";
@import "./sections/partners.scss";
@import "./sections/testimonials.scss";
@import "./sections/adv.scss";
@import "./sections/footer.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');


/* base styles*/
body {
    margin: 0;

    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--color);
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;

    color: var(--color);
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

p {
    font-weight: 400;
}

.flex {
    display: flex;

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-left {
        justify-content: left;
    }
}
